body {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    display: flex;
}

aside {
    background-color: #195594;
    width: 25%;
    min-width: 275px;
}

@media screen and (max-width: 1024px) {
    body {
        display: inline;
    }
    aside {
        width: 100%;
    }
}

.headshot {
    padding: .2em;
    border: .5px solid rgb(168, 167, 167);
    border-radius: 50%;
    margin: 1.5em auto;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: column;
}

.item-black {
    background-color: peru;
    color: #195594;
    text-transform: uppercase;
    text-align: center;
    padding: .3em;
}

.item-1, .item-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    font-size: .8em;
    
}

.item-2 {
    margin-bottom: 10rem;
    margin-right: 1.5rem;
}

.item-3 {
    margin-top: .5rem;
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
}

.wrap {
    margin: 5%;
    border: .5px solid black;
    border-radius: 50%; 
}

.hobbies {
    height: 40px;
    width: 40px;
    padding: .7em;
}

@media screen and (max-width: 1024px) {
    .hobbies {
        height: 70px;
        width: 70px;
        padding: 1em;
    }
    .item-3 {
        margin-top: auto;
        margin-bottom: auto;
    }
}

section {
    width: 75%;
    padding: 80px 40px 20px 40px;
}

@media screen and (max-width: 1024px) {
    section {
        width: 90%;
        padding: 40px;
        margin: auto;
    }
}

header {
    min-width: 400px;
}

header :nth-child(2) {
    margin-top: -35px;
    margin-bottom: 75px;
}

h1 {
    font-size: 2.8em;
    margin-top: 0px;
}

h1, h2, h4, h5 {
    text-transform: uppercase;
}

h1 span {
    color: #195594;
}

#underline {
    text-decoration: underline;
    text-decoration-color: #195594;
}

hr {
    height: 1px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #195594;
}

.grid {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 300px 400px;
    grid-template-rows: auto;
    grid-gap: 1.5em;
    font-size: .8em;

}

h4 i {
    color: #195594;
    padding-right: 1em;
    font-size: 1.2em;
}

h4, p {
    margin-top: .4em;
    margin-bottom: .4em;
}

/* media q for icons and grid margins */

@media screen and (max-width: 1024px) {
    h4 i {
        padding-right: 2em;
    }
    h4 {
        margin: 0em;
    }
    p {
        margin-bottom: .4em;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.list {
    display: flex;
    min-width: 150px;
}

.fa-dot-circle {
    color: #195594;
    padding-right: 1em;
    padding-top: .4em;
    font-size: .8em;
}

.fa-circle {
    color: #195594;
    padding-right: 2em;
    padding-top: .4em;
    font-size: .5em;
}

/* media q for list */

@media screen and (max-width: 1024px) {
    .list {
        font-size: 23px;
    }
}